{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/calm-river.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         Hello, and thank you again for being here. My name is Austin. I am an ever-evolving self-taught coder. I have been coding for just shy of 2 years.
        </p>
        <p>
           Along the way I have learned to work with many different languages, libraries, IDEs, frameworks, and third-party programs. I'll list a few for those who may be interested:
        </p>
        <ul>
          <li><b>Languages</b>: Python, Javascript, SQL, HTML, CSS,</li>
          <li><b>Frameworks/Libraries</b>: Next.JS, Flask, React</li>
          <li><b>IDEs</b>: PyCharm, VSCode</li>
          <li><b>Programs</b>: Selenium, BeautifulSoup, APIs, Jinja, Tkinter, and more!</li>

        </ul>
        <p>
       I am confident in my ability to solve problems as well as work with a team of diverse people. In my spare time I am working through leetcode problems to try to understand unique concepts and a general way of thinking like a programmer would.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
